:root {
  --bg-color: #fff5e1; 
  --primary-color: #e74c3c; 
  --secondary-color: #f39c12;
  --highlight-color: #27ae60; 
  --text-color: #2c3e50; 
  --secondary-text-color: #7f8c8d; 
  --border-radius: 12px; 
}

body {
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
}

/* Estilos gerais do cabeçalho */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid var(--highlight-color);
}

.logo-container {
  flex-grow: 0;
}

.logo {
  height: 80px;
  width: auto;
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.4));
  border-radius: var(--border-radius);
  background-color: white;
  padding: 0.5rem;
}

/* Estilos para todos os tamanhos de tela */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espaço entre itens */
}

.nav-links, .button-container ul {
  display: flex;
  gap: 1rem; /* Ajusta o espaçamento entre os itens */
  list-style: none; /* Remove marcadores da lista */
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
}

.nav-links li, .button-container ul li {
  margin: 0; /* Remove margem dos itens */
  padding: 0; /* Remove padding dos itens */
}

.nav-links a, .button-container ul a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius); /* Bordas arredondadas */
  display: block; /* Faz com que o link ocupe toda a área do item da lista */
  text-align: center;
}

.nav-links a:hover, .button-container ul a:hover {
  background-color: var(--secondary-color); /* Efeito de hover com cor de queijo */
}

/* Estilos para botões */
.btn-primary, .btn-secondary {
  padding: 0.75rem 1.5rem; /* Ajustar padding conforme necessário */
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  text-align: center;
  width: 100%; /* Garante que o botão ocupe toda a largura do container */
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}

.btn-primary {
  background: var(--highlight-color);
  color: white;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  background: transparent;
  color: var(--primary-color);
}

.btn-secondary:hover {
  background: var(--primary-color);
  color: white;
}

/* Estilos para desktop */
@media (min-width: 1280px) {
  .mobile-menu {
    display: none; /* Oculta o menu móvel em telas grandes */
  }

  .nav-menu {
    flex-direction: row; /* Alinha items na horizontal */
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    display: inline-block; /* Garantir que os links fiquem na mesma linha */
  }

  .button-container {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
  }
}

/* Estilos para mobile */
@media (max-width: 1279px) {
  header {
    padding: 2rem; /* Aumenta o padding do cabeçalho para maior altura */
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center; /* Centraliza itens horizontalmente */
  }

  .nav-menu {
    flex-direction: column; /* Alinha itens na vertical */
    width: 100%; /* Garante que o menu ocupe toda a largura do container */
  }

  .nav-links {
    display: flex;
    flex-direction: column; /* Alinha links verticalmente */
    width: 100%; /* Faz com que os links ocupem toda a largura do menu */
  }

  .nav-links a {
    padding: 1rem; /* Aumenta o padding dos links para mobile */
    text-align: center;
    width: 100%; /* Faz com que os links ocupem toda a largura do container */
  }

  .button-container {
    margin-top: 2rem; /* Espaço acima dos botões em mobile */
  }

  .button-container ul {
    display: flex;
    flex-direction: column; /* Alinha botões verticalmente */
    width: 100%; /* Faz com que os botões ocupem toda a largura do container */
    gap: 1rem; /* Espaço entre os botões */
  }
}
