:root {
    --bg-color: #f7f2e7; /* Cor de fundo mais clara, semelhante a massa de pizza */
    --primary-color: #e74c3c; /* Vermelho para representar molho de tomate */
    --secondary-color: #f1c40f; /* Amarelo para representar queijo */
    --text-color: #2c3e50; /* Cor do texto mais escura para contraste */
    --secondary-text-color: #7f8c8d; /* Cor do texto secundário */
}

body {
    background-color: var(--bg-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.hero {
    background-color: #fff; /* Cor de fundo alterada para branco */
    color: var(--text-color); /* Cor do texto */
    text-align: center;
    padding: 80px 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: var(--primary-color); /* Cor do título */
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    color: var(--secondary-text-color); /* Cor do parágrafo */
    margin-bottom: 30px;
  }
  
  .hero button {
    background-color: var(--primary-color);
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: var(--secondary-color);
  }
  
button {
    background-color: var(--primary-color);
    color: var(--light-gray);
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: var(--fs-base);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}
